/*Footer*/

.footer {
    font-family: $font-family-2;
    
    font-size: 14px;
}

/*Volver Arriba*/

.volverArriba {
    display: flex;
    justify-content: center;
}

.volverArriba2 { 
    display: flex;
    justify-content: center;
}