body {
    background-color: bisque;
}


a { 
    @extend %a-links;
}


/*Paragraph*/

p, .paragraph, h3 {
    font-family: $font-family-2;
    font-size: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.p-reseña {
    display: inline;
}

.p-info {
    margin-left: 10px;
}

.somosContainer, .salgoContainer, .listas, #reseñas{
    @extend %photo-container; 
}

.mapa {
    height: 250px;
    width: 250px;
}

