@media only screen and (min-width: 768px) {
    .form-row {
        margin-left: auto;
        margin-right: auto;
    }
}


@media only screen and (min-width: 768px) {
    .video1 {
        display: none;
    }
}

// quiero que desaparezca el video cuando se abre el sitio en tablet y mobile y no funciona